<%- include("partials/header"); -%>
    <h1>About Us</h1>
    <p> <%= aboutContent %> </p>
    <br>
    <p> <a href="https://github.com/sidchopra13/Blog-Gen">Click here to see this project's details.</a> </p>
<%- include("partials/footer"); -%>
